Strasbourg Theaters Movie Parser/strasbourg.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -992,
        304
      ],
      "id": "81cfcb91-6f5f-4eb7-b8d6-daf5372b208f",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "yyyy-MM-dd",
        "outputFieldName": "formatted-url",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -848,
        304
      ],
      "id": "abb4c342-73d0-46bf-ac94-1607c4d96fe7",
      "name": "Formating"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://www.allocine.fr/_/showtimes/theater-P0963/d-\";\nconst formattedDate = $input.first().json['formatted-url']\nreturn [{\n  json: {\n    UGCUrl: baseUrl + formattedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -128
      ],
      "id": "525c9b43-e875-477d-8e2e-0ce001fb5727",
      "name": "UGC Link Builder"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://www.allocine.fr/_/showtimes/theater-P0026/d-\";\nconst formattedDate = $input.first().json['formatted-url']\nreturn [{\n  json: {\n    CosmosURL: baseUrl + formattedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        16
      ],
      "id": "2fdfa00a-33f3-4a75-8397-45491fcc4ce4",
      "name": "Cosmos Link Builder"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://www.allocine.fr/_/showtimes/theater-P0600/d-\";\nconst formattedDate = $input.first().json['formatted-url']\nreturn [{\n  json: {\n    VoxURL: baseUrl + formattedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        160
      ],
      "id": "b4e92f7c-e509-42d3-8ab7-277b38610d99",
      "name": "Vox Link Builder"
    },
    {
      "parameters": {
        "url": "={{ $json.UGCUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        -128
      ],
      "id": "d1c559e9-b2b9-4144-9d0a-f3546cfc0929",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.CosmosURL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        16
      ],
      "id": "ab893038-48b9-48f2-acf3-36d0d860b4c8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $json.VoxURL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        160
      ],
      "id": "cac5b062-410d-4afc-8a80-541acd797789",
      "name": "HTTP Request2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        304
      ],
      "id": "d7834147-ed53-44bf-beaa-fd9d80625a3f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst nomDuCinema = \"UGC Ciné Cité\"; // ⚠️ À MODIFIER pour chaque nœud (Vox, Le Cosmos, Star, etc.)\nconst now = new Date();\n\nconst simplifiedData = results.map(item => {\n  const st = item.showtimes;\n  if (!st) return null;\n\n  let allShowtimes = [];\n\n  // Parcourt toutes les listes de séances (original, dubbed, multiple...)\n  Object.keys(st).forEach(key => {\n    const list = st[key];\n    if (Array.isArray(list)) {\n      list.forEach(s => {\n        const date = new Date(s.startsAt);\n        \n        // OPTIONNEL : Retire cette ligne si tu veux voir TOUTES les séances de la journée\n        if (date < now) return; \n\n        const heure = date.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n        \n        // LOGIQUE DE VERSION : \n        // On n'affiche (VOST) que si la version est \"ORIGINAL\"\n        // Si c'est de la VF (DUBBED), on laisse vide.\n        let versionLabel = \"\";\n        if (s.diffusionVersion === \"ORIGINAL\") {\n          versionLabel = \" (VOST)\";\n        }\n        \n        // Ajout du tag AP pour les avant-premières\n        let extra = s.isPreview ? \" [AP]\" : \"\";\n        \n        allShowtimes.push({\n          time: heure,\n          label: `\\`${heure}\\`${versionLabel}${extra}`,\n          rawTime: s.startsAt\n        });\n      });\n    }\n  });\n\n  // Si après filtrage il n'y a plus de séances pour ce film, on l'ignore\n  if (allShowtimes.length === 0) return null;\n\n  // Tri des séances par heure\n  allShowtimes.sort((a, b) => a.rawTime.localeCompare(b.rawTime));\n\n  return {\n    titre: item.movie.title.toUpperCase().replace(/[\"«»]/g, '').trim(),\n    duree: item.movie.runtime,\n    horaires: allShowtimes.map(s => s.label).join(' ')\n  };\n}).filter(film => film !== null);\n\nreturn [{ json: { cinema: nomDuCinema, films: simplifiedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -128
      ],
      "id": "4585add2-704c-40c1-b1a4-8e22a33fb538",
      "name": "Simplify JSON"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst nomDuCinema = \"Le Cosmos\"; // ⚠️ À MODIFIER pour chaque nœud (Vox, Le Cosmos, Star, etc.)\nconst now = new Date();\n\nconst simplifiedData = results.map(item => {\n  const st = item.showtimes;\n  if (!st) return null;\n\n  let allShowtimes = [];\n\n  // Parcourt toutes les listes de séances (original, dubbed, multiple...)\n  Object.keys(st).forEach(key => {\n    const list = st[key];\n    if (Array.isArray(list)) {\n      list.forEach(s => {\n        const date = new Date(s.startsAt);\n        \n        // OPTIONNEL : Retire cette ligne si tu veux voir TOUTES les séances de la journée\n        if (date < now) return; \n\n        const heure = date.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n        \n        // LOGIQUE DE VERSION : \n        // On n'affiche (VOST) que si la version est \"ORIGINAL\"\n        // Si c'est de la VF (DUBBED), on laisse vide.\n        let versionLabel = \"\";\n        if (s.diffusionVersion === \"ORIGINAL\") {\n          versionLabel = \" (VOST)\";\n        }\n        \n        // Ajout du tag AP pour les avant-premières\n        let extra = s.isPreview ? \" [AP]\" : \"\";\n        \n        allShowtimes.push({\n          time: heure,\n          label: `\\`${heure}\\`${versionLabel}${extra}`,\n          rawTime: s.startsAt\n        });\n      });\n    }\n  });\n\n  // Si après filtrage il n'y a plus de séances pour ce film, on l'ignore\n  if (allShowtimes.length === 0) return null;\n\n  // Tri des séances par heure\n  allShowtimes.sort((a, b) => a.rawTime.localeCompare(b.rawTime));\n\n  return {\n    titre: item.movie.title.toUpperCase().replace(/[\"«»]/g, '').trim(),\n    duree: item.movie.runtime,\n    horaires: allShowtimes.map(s => s.label).join(' ')\n  };\n}).filter(film => film !== null);\n\nreturn [{ json: { cinema: nomDuCinema, films: simplifiedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        16
      ],
      "id": "97e96b19-866c-4e11-b9a2-c650bdd6531b",
      "name": "Simplify JSON1"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst nomDuCinema = \"Vox\"; // ⚠️ À MODIFIER pour chaque nœud (Vox, Le Cosmos, Star, etc.)\nconst now = new Date();\n\nconst simplifiedData = results.map(item => {\n  const st = item.showtimes;\n  if (!st) return null;\n\n  let allShowtimes = [];\n\n  // Parcourt toutes les listes de séances (original, dubbed, multiple...)\n  Object.keys(st).forEach(key => {\n    const list = st[key];\n    if (Array.isArray(list)) {\n      list.forEach(s => {\n        const date = new Date(s.startsAt);\n        \n        // OPTIONNEL : Retire cette ligne si tu veux voir TOUTES les séances de la journée\n        if (date < now) return; \n\n        const heure = date.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n        \n        // LOGIQUE DE VERSION : \n        // On n'affiche (VOST) que si la version est \"ORIGINAL\"\n        // Si c'est de la VF (DUBBED), on laisse vide.\n        let versionLabel = \"\";\n        if (s.diffusionVersion === \"ORIGINAL\") {\n          versionLabel = \" (VOST)\";\n        }\n        \n        // Ajout du tag AP pour les avant-premières\n        let extra = s.isPreview ? \" [AP]\" : \"\";\n        \n        allShowtimes.push({\n          time: heure,\n          label: `\\`${heure}\\`${versionLabel}${extra}`,\n          rawTime: s.startsAt\n        });\n      });\n    }\n  });\n\n  // Si après filtrage il n'y a plus de séances pour ce film, on l'ignore\n  if (allShowtimes.length === 0) return null;\n\n  // Tri des séances par heure\n  allShowtimes.sort((a, b) => a.rawTime.localeCompare(b.rawTime));\n\n  return {\n    titre: item.movie.title.toUpperCase().replace(/[\"«»]/g, '').trim(),\n    duree: item.movie.runtime,\n    horaires: allShowtimes.map(s => s.label).join(' ')\n  };\n}).filter(film => film !== null);\n\nreturn [{ json: { cinema: nomDuCinema, films: simplifiedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        160
      ],
      "id": "83dfc4ce-f303-48c9-a0c4-9064000c9566",
      "name": "Simplify JSON2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1168,
        176
      ],
      "id": "d98148c6-bcd1-4288-9fd5-bb309f52efda",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un bot Discord minimaliste. Ta mission est de mettre en forme la liste de films suivante de manière compacte et élégante : {{ JSON.stringify($json.liste_films) }}\n\n### CONSIGNE DE FORMATAGE STRICTE :\n\nPour chaque film avec une scéance aujourd'hui, utilise exactement ce schéma :\n\n**TITRE DU FILM** (Durée)\n• **Vox** : Horaires\n• **UGC** : Horaires\n• **Le Cosmos** : Horaires\n\n---\n\n### RÈGLES DE STYLE :\n1. N'affiche QUE les cinémas qui ont des séances (si c'est \"Pas de séance\", supprime la ligne).\n2. N'utilise PAS de titres de section (type ###) ou de séparateurs horizontaux (---).\n3. Utilise une puce simple (•) pour les cinémas.\n4. Écris le titre du film en GRAS et MAJUSCULES.\n5. AUCUNE introduction, AUCUNE conclusion. Juste les films.\n6. Tu as le droit aux emojis, sans abus, reste minimaliste.\n7. Au début de CHAQUE message, mets un GRAND TITRE avec la date pour séparer le message actuel et le message du jour précédent.\n8. N'écris RIEN D'AUTRE que le message discord. RIEN\n9. Pour chaque cinéma, affiche les horaires sur une seule ligne. Si un film est présent dans plusieurs cinémas, essaie de faire tenir les puces (•) sur le moins de lignes possible",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        176
      ],
      "id": "2ee973d8-72e7-409b-9c7e-fdce1ea93a59",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1470745724278018128",
          "mode": "list",
          "cachedResultName": "Better Will's Hub",
          "cachedResultUrl": "https://discord.com/channels/1470745724278018128"
        },
        "channelId": {
          "__rl": true,
          "value": "1474045417741353003",
          "mode": "list",
          "cachedResultName": "📽️・cinema",
          "cachedResultUrl": "https://discord.com/channels/1470745724278018128/1474045417741353003"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        400,
        176
      ],
      "id": "be5e616a-b8c7-463a-9413-e210ede85202",
      "name": "Send a message",
      "webhookId": "39195e2f-43a6-4496-85c7-ae8e9cf4ee9f",
      "executeOnce": false,
      "credentials": {
        "discordBotApi": {
          "id": "LlFj0SCinffykm2S",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -80,
        352
      ],
      "id": "bdc5a014-d6d2-4b53-964a-a738f6d97c56",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "gHnkztapowaO9uju",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\nconst moviesMap = {};\n\nallInputs.forEach(input => {\n  const cinemaName = input.json.cinema;\n  const films = input.json.films || [];\n\n  films.forEach(film => {\n    // Nettoyage du titre (MAJUSCULES + retrait des guillemets parasites)\n    const title = film.titre.toUpperCase().replace(/[\"«»]/g, '').trim();\n    \n    if (!moviesMap[title]) {\n      moviesMap[title] = {\n        titre: title,\n        duree: film.duree,\n        seances: {} // On utilise un objet vide pour ne garder que les cinés avec séances\n      };\n    }\n    \n    // On mappe le nom du cinéma proprement\n    let key = \"UGC\";\n    if (cinemaName.includes(\"Vox\")) key = \"Vox\";\n    if (cinemaName.includes(\"Cosmos\")) key = \"Le Cosmos\";\n    if (cinemaName.includes(\"Star SE\")) key = \"Star SE\";\n    else if (cinemaName.includes(\"Star\")) key = \"Star\";\n\n    moviesMap[title].seances[key] = film.horaires;\n  });\n});\n\n// Tri alphabétique des films par titre avant l'envoi\nconst sortedMovies = Object.values(moviesMap).sort((a, b) => a.titre.localeCompare(b.titre));\n\nreturn [{ json: { liste_films: sortedMovies } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -64
      ],
      "id": "98a47d98-859f-4c6f-8cbc-b8b2563e88c0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        -112
      ],
      "id": "f0770916-890e-4ed3-9cd5-965b90b9d0e4",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const fullText = $input.first().json.output; // On récupère l'output de l'IA\nconst limit = 1900; // Limite Discord (2000) avec une marge\nconst chunks = [];\nlet currentChunk = \"\";\n\n// On découpe le texte par bloc de film (séparés par un double saut de ligne)\nconst blocks = fullText.split(/\\n(?=\\*\\*)/); \n\nfor (const block of blocks) {\n  if ((currentChunk + block).length > limit) {\n    chunks.push({ json: { output: currentChunk.trim() } });\n    currentChunk = block;\n  } else {\n    currentChunk += \"\\n\" + block;\n  }\n}\n\nif (currentChunk.trim().length > 0) {\n  chunks.push({ json: { output: currentChunk.trim() } });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        176
      ],
      "id": "a807ffea-b73c-4ac6-b3e6-0fb3d630c3f9",
      "name": "Message Splitter"
    },
    {
      "parameters": {
        "content": "Sur ces deux nodes *time* on fetch et formatte la date du jour pour **YYY-MM-DD**",
        "height": 80,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -992,
        176
      ],
      "typeVersion": 1,
      "id": "1469697f-eaa2-49da-974f-cdd985474507",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Ces nodes ici (*une branche par cinéma*) crée l'URL pour l'API **Allociné** de chaque cinéma avec la date du jour, fetch les scéances et les formatte dans un joli **JSON simplifié**",
        "height": 80,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        -256
      ],
      "typeVersion": 1,
      "id": "0105d230-d4cd-4633-b9e3-89bb334d19c2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Ici, on **fusionne** les JSON de tout les cinémas qui ont été fetch dans un seul **JSON**",
        "height": 80,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -240
      ],
      "typeVersion": 1,
      "id": "aaf01f7a-cc3d-4da9-b0b1-27ced42ead3f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "On envoie ensuite tout a un **Agent IA** qui va transformer le **JSON** en message *Human-readable* que l'on va découper s'il est trop long puis envoyer sur le channel **Discord** en question.",
        "height": 96,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        16
      ],
      "typeVersion": 1,
      "id": "9339f7dc-343e-4c2f-a88c-a6969541a07a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "url": "={{ $json.UGCUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        304
      ],
      "id": "32e03f58-e9fd-4b09-9e2b-1c66009d155f",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst nomDuCinema = \"Star\"; // ⚠️ À MODIFIER pour chaque nœud (Vox, Le Cosmos, Star, etc.)\nconst now = new Date();\n\nconst simplifiedData = results.map(item => {\n  const st = item.showtimes;\n  if (!st) return null;\n\n  let allShowtimes = [];\n\n  // Parcourt toutes les listes de séances (original, dubbed, multiple...)\n  Object.keys(st).forEach(key => {\n    const list = st[key];\n    if (Array.isArray(list)) {\n      list.forEach(s => {\n        const date = new Date(s.startsAt);\n        \n        // OPTIONNEL : Retire cette ligne si tu veux voir TOUTES les séances de la journée\n        if (date < now) return; \n\n        const heure = date.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n        \n        // LOGIQUE DE VERSION : \n        // On n'affiche (VOST) que si la version est \"ORIGINAL\"\n        // Si c'est de la VF (DUBBED), on laisse vide.\n        let versionLabel = \"\";\n        if (s.diffusionVersion === \"ORIGINAL\") {\n          versionLabel = \" (VOST)\";\n        }\n        \n        // Ajout du tag AP pour les avant-premières\n        let extra = s.isPreview ? \" [AP]\" : \"\";\n        \n        allShowtimes.push({\n          time: heure,\n          label: `\\`${heure}\\`${versionLabel}${extra}`,\n          rawTime: s.startsAt\n        });\n      });\n    }\n  });\n\n  // Si après filtrage il n'y a plus de séances pour ce film, on l'ignore\n  if (allShowtimes.length === 0) return null;\n\n  // Tri des séances par heure\n  allShowtimes.sort((a, b) => a.rawTime.localeCompare(b.rawTime));\n\n  return {\n    titre: item.movie.title.toUpperCase().replace(/[\"«»]/g, '').trim(),\n    duree: item.movie.runtime,\n    horaires: allShowtimes.map(s => s.label).join(' ')\n  };\n}).filter(film => film !== null);\n\nreturn [{ json: { cinema: nomDuCinema, films: simplifiedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        304
      ],
      "id": "cac9b95c-7b88-4109-90e5-b96cc9f96b71",
      "name": "Simplify JSON3"
    },
    {
      "parameters": {
        "url": "={{ $json.UGCUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        448
      ],
      "id": "765d82a3-4e75-4a69-9950-849cc8fd421e",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst nomDuCinema = \"Star SE\"; // ⚠️ À MODIFIER pour chaque nœud (Vox, Le Cosmos, Star, etc.)\nconst now = new Date();\n\nconst simplifiedData = results.map(item => {\n  const st = item.showtimes;\n  if (!st) return null;\n\n  let allShowtimes = [];\n\n  // Parcourt toutes les listes de séances (original, dubbed, multiple...)\n  Object.keys(st).forEach(key => {\n    const list = st[key];\n    if (Array.isArray(list)) {\n      list.forEach(s => {\n        const date = new Date(s.startsAt);\n        \n        // OPTIONNEL : Retire cette ligne si tu veux voir TOUTES les séances de la journée\n        if (date < now) return; \n\n        const heure = date.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n        \n        // LOGIQUE DE VERSION : \n        // On n'affiche (VOST) que si la version est \"ORIGINAL\"\n        // Si c'est de la VF (DUBBED), on laisse vide.\n        let versionLabel = \"\";\n        if (s.diffusionVersion === \"ORIGINAL\") {\n          versionLabel = \" (VOST)\";\n        }\n        \n        // Ajout du tag AP pour les avant-premières\n        let extra = s.isPreview ? \" [AP]\" : \"\";\n        \n        allShowtimes.push({\n          time: heure,\n          label: `\\`${heure}\\`${versionLabel}${extra}`,\n          rawTime: s.startsAt\n        });\n      });\n    }\n  });\n\n  // Si après filtrage il n'y a plus de séances pour ce film, on l'ignore\n  if (allShowtimes.length === 0) return null;\n\n  // Tri des séances par heure\n  allShowtimes.sort((a, b) => a.rawTime.localeCompare(b.rawTime));\n\n  return {\n    titre: item.movie.title.toUpperCase().replace(/[\"«»]/g, '').trim(),\n    duree: item.movie.runtime,\n    horaires: allShowtimes.map(s => s.label).join(' ')\n  };\n}).filter(film => film !== null);\n\nreturn [{ json: { cinema: nomDuCinema, films: simplifiedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        448
      ],
      "id": "e4c245aa-7954-4e3e-9d3c-6eb8d6af31a8",
      "name": "Simplify JSON4"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://www.allocine.fr/_/showtimes/theater-P0027/d-\";\nconst formattedDate = $input.first().json['formatted-url']\nreturn [{\n  json: {\n    UGCUrl: baseUrl + formattedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        304
      ],
      "id": "5e1f14d0-e2ac-481a-a6db-d22edfd88967",
      "name": "Star Link Builder"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://www.allocine.fr/_/showtimes/theater-P0025/d-\";\nconst formattedDate = $input.first().json['formatted-url']\nreturn [{\n  json: {\n    UGCUrl: baseUrl + formattedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        448
      ],
      "id": "f4746823-9e7e-4c26-b7a2-35703bef6ca5",
      "name": "Star SE Link Builder"
    }
  ],
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Formating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formating": {
      "main": [
        [
          {
            "node": "UGC Link Builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cosmos Link Builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vox Link Builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Star Link Builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Star SE Link Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UGC Link Builder": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cosmos Link Builder": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vox Link Builder": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Simplify JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Simplify JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Simplify JSON2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify JSON": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify JSON1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Simplify JSON2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Splitter": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Simplify JSON3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify JSON3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Simplify JSON4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify JSON4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Star Link Builder": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Star SE Link Builder": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e90d789b48e5e14c97eedc713c1fb8d8fb2d7d72edbf19afa0f391e805bbe63"
  }
}